# All values in this document are the ENVIRONMENT variable names that can override the defaults
# from `default.yaml`
---
auth:
    # A private key uses for signing jwt tokens
    # Easily generate one by running
    # $ openssl genrsa -out jwt.pem 2048
    jwtPrivateKey: SECRET_JWT_PRIVATE_KEY
    # The public key used for verifying the signature
    # Generate one by running
    # $ openssl rsa -in jwt.pem -pubout -out jwt.pub
    jwtPublicKey: SECRET_JWT_PUBLIC_KEY
    # The client id used for OAuth with github. Look up GitHub OAuth for details
    # https://developer.github.com/v3/oauth/
    oauthClientId: SECRET_OAUTH_CLIENT_ID
    # The client secret used for OAuth with github
    oauthClientSecret: SECRET_OAUTH_CLIENT_SECRET
    # The access token to use on behalf of a user to access the API. Used as
    # an alternative to the OAuth flow
    temporaryAccessKey: SECRET_ACCESS_KEY
    # The user name associated with the temproary access token. Used as a
    # means of functionally testing the API
    temporaryAccessUser: SECRET_ACCESS_USER
    # A password used for encrypting session, and OAuth data.
    # **Needs to be minimum 32 characters**
    password: SECRET_PASSWORD
    # A flag to set if the server is running over https.
    # Used as a flag for the OAuth flow
    https: IS_HTTPS
    whitelist:
        __name: SECRET_WHITELIST
        __format: json
    admins:
        __name: SECRET_ADMINS
        __format: json

httpd:
    # Port to listen on
    port: PORT
    # Host to listen on (set to 0.0.0.0 to accept all connections)
    host: HOST
    # Externally routable URI (usually your load balancer or CNAME)
    uri: URI

datastore:
    plugin: DATASTORE_PLUGIN
    sequelize:
        # Type of server to talk to
        dialect: DATASTORE_SEQUELIZE_DIALECT
        # Database name
        database: DATASTORE_SEQUELIZE_DATABASE
        # Username/Password
        username: DATASTORE_SEQUELIZE_USERNAME
        password: DATASTORE_SEQUELIZE_PASSWORD
        # Storage location for sqlite
        storage: DATASTORE_SEQUELIZE_STORAGE
        # Network settings
        host: DATASTORE_SEQUELIZE_HOST
        port: DATASTORE_SEQUELIZE_PORT
    dynamodb:
        # Prefix to the table names
        prefix: DATASTORE_DYNAMODB_PREFIX
        # AWS Access Key ID
        accessKeyId: DATASTORE_DYNAMODB_ID
        # AWS Secret Access Key
        secretAccessKey: DATASTORE_DYNAMODB_SECRET

executor:
    plugin: EXECUTOR_PLUGIN
    k8s:
        # The host or IP of the kubernetes cluster
        host: K8S_HOST
        # The jwt token used for authenticating kubernetes requests
        token: K8S_TOKEN
        # Launcher container tag to use
        launchVersion: LAUNCH_VERSION
    s3m:
        # Configuration of Docker
        docker:
            __name: EXECUTOR_S3M_DOCKER
            __format: json
        # Launcher container tag to use
        launchVersion: LAUNCH_VERSION


webhooks:
    github:
        # Secret to add to GitHub webhooks so that we can validate them
        secret: WEBHOOK_GITHUB_SECRET

ecosystem:
    # URL for the User Interface
    ui: ECOSYSTEM_UI
    # Externally routable URL for the Artifact Store
    store: ECOSYSTEM_STORE
    # Badge service (needs to add a status and color)
    badges: ECOSYSTEM_BADGES
