---
auth:
    # A private key used for signing jwt tokens
    # Easily generate one by running
    # $ openssl genrsa -out jwt.pem 2048
    jwtPrivateKey: |
        -----BEGIN RSA PRIVATE KEY-----
        YOUR-KEY-HERE
        -----END RSA PRIVATE KEY-----
    # The public key used for verifying the signature
    # Generate one by running
    # $ openssl rsa -in jwt.pem -pubout -out jwt.pub
    jwtPublicKey: |
        -----BEGIN PUBLIC KEY-----
        YOUR-KEY-HERE
        -----END PUBLIC KEY-----
    # A password used for encrypting session data.
    # **Needs to be minimum 32 characters**
    cookiePassword: WOW-ANOTHER-INSECURE-PASSWORD!!!
    # A password used for encrypting stored secrets.
    # **Needs to be minimum 32 characters**
    encryptionPassword: WOW-ANOTHER-MORE-INSECURE-PASSWORD!!!
    # A single access token used as an alternative to the Oauth login flow
    temporaryAccessKey: someAccessTokenThatIsTemporaryForUsingInTheMeantime
    # User name that is associated with the temporary access key
    temporaryAccessUser: quality_automation
    # A flag to set if the server is running over https.
    # Used as a flag for the OAuth flow
    https: false
    # Whitelist of users able to authenticate against the system
    # if empty, it allows everyone
    # @TODO remove this in the future
    whitelist:
        - FenrirUnbound
        - Filbird
        - cynthiax
        - d2lam
        - dvdizon
        - jer
        - jerryzhang222
        - minz1027
        - nicolaifsf
        - nkatzman
        - outofjungle
        - petey
        - r3rastogi
        - sd-buildbot
        - shruthi-venkateswaran
        - stjohnjohnson
        - tkyi
        - tonytamsf
        - jpcollins
    admins:
        - FenrirUnbound
        - cynthiax
        - d2lam
        - dvdizon
        - jer
        - minz1027
        - outofjungle
        - petey
        - stjohnjohnson
        - tkyi

httpd:
    # Port to listen on
    port: 80
    # Host to listen on (set to localhost to only accept connections from this machine)
    host: 0.0.0.0
    # Externally routable URI (usually your load balancer or CNAME)
    uri: http://localhost:80
    # SSL Support
    tls: false
        # If you want SSL, you can easily add it by replacing `tls: false` with an object that
        # provides the options required by `tls.createServer`
        # https://nodejs.org/api/tls.html#tls_tls_createserver_options_secureconnectionlistener
        # key: |
        #     PRIVATE KEY HERE
        # cert: |
        #     YOUR CERT HERE

datastore:
    plugin: sequelize
    sequelize:
        # Type of server to talk to
        dialect: sqlite
        # More arguments here:
        # http://docs.sequelizejs.com/en/latest/api/sequelize/

executor:
    plugin: k8s
    k8s:
        kubernetes:
            # The host or IP of the kubernetes cluster
            host: kubernetes.default
            # The jwt token used for authenticating kubernetes requests
            # Loaded from /var/run/secrets/kubernetes.io/serviceaccount/token by default
            # token:

        # Container tags to use
        launchVersion: stable
    docker:
        # Dockerode configuration https://github.com/apocas/dockerode#getting-started
        docker: {}

        # Container tags to use
        launchVersion: stable

scm:
    plugin: github
    github:
        # The client id used for OAuth with github. Look up GitHub OAuth for details
        # https://developer.github.com/v3/oauth/
        oauthClientId: YOU-PROBABLY-WANT-SOMETHING-HERE
        # The client secret used for OAuth with github
        oauthClientSecret: AGAIN-SOMETHING-HERE-IS-USEFUL
        # You can also configure for use with GitHub enterprise
        #gheHost: github.screwdriver.cd
        # Secret to add to GitHub webhooks so that we can validate them
        secret: SUPER-SECRET-SIGNING-THING
    bitbucket:
        oauthClientId: YOUR-BITBUCKET-OAUTH-CLIENT-ID
        oauthClientSecret: YOUR-BITBUCKET-OAUTH-CLIENT-SECRET

ecosystem:
    # Externally routable URL for the User Interface
    ui: https://cd.screwdriver.cd
    # Externally routable URL for the Artifact Store
    store: https://store.screwdriver.cd
    # Badge service (needs to add a status and color)
    badges: https://img.shields.io/badge/build-{{status}}-{{color}}.svg
    # Plugins for build setup
    setup:
        - sd-scm
